@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.App {
  min-height: 100vh;
  text-align: center;
  background-color:#f4f9f9;
  font-family: 'PT Sans', sans-serif;
}
.task{
  background-image: linear-gradient(to right top, #ff9292, #ff9999, #ff9f9f, #ffa6a6, #ffacac, #ffb2b2, #ffb8b8, #ffbebe, #ffc6c6, #ffcdcd, #ffd5d5, #ffdcdc);
  border-radius: 5px;
}
input{
  color:#fff;
}
.bg-mycolor{
  background-color: #ff9292;
  font-style: italic;
}



